[submodule "src/tiny-aes"]
	path = vendors/tiny-aes
	url = https://github.com/kokke/tiny-AES128-C.git
[submodule "src/cpp-libface"]
	path = vendors/cpp-libface
	url = https://github.com/ribtoks/cpp-libface.git
[submodule "src/ssdll"]
	path = vendors/ssdll
	url = https://github.com/ribtoks/ssdll.git
[submodule "vendors/hunspell-repo"]
	path = vendors/hunspell-repo
	url = https://github.com/hunspell/hunspell.git
[submodule "src/xpiks-tests/plugins-for-tests/helloworld"]
	path = src/xpiks-tests/plugins-for-tests/helloworld
	url = https://github.com/ribtoks/xpiks-helloworld-plugin.git
